body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 50px;
}

header h1{
    font-size: 30px;
}

header p{
    font-size: 20px; 
}

.activities {
    padding: 30px;
}

.activity {
    margin-bottom: 20px;
}

.activities h2 {
    text-align: center;
    font-size: 32px;
}

.activity h3 {
    font-size: 30px; 
}

.activity p {
    font-size: 20px; 
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.image-container img {
    width: 48%; 
    border-radius: 8px;
}

.activity img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.tips {
    background-color: #f4f4f4;
    padding: 30px;
}

.newsletter {
    padding: 30px;
    background-color: #3498db;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
}

button {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
